.Rproj.user
.Rhistory
.RData
.Ruserdata
#R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata

#no data

*.csv
*.gz
*.txt
*.rds
*.xlsx
*.xls
*.json
*.zip
*.png
*.pptx
*.tfl
*.twb
*.twbx
*.tbs
*.tbm
*.hyper
*.sql
*.parquet
*.svg
*.dfx
*.json
*.dta
*.shp
*.dbf
*.gz
*.yml

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
Documents/*

# Keep sql files within the scripts folder
!Scripts/*.sql

